<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<title>GPWD</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<link rel="stylesheet" type="text/css" href="../static/style1.css" />
</head>
<body>
<div id="bgcontainer">
  <div class="Header">
    <div class="Syn">
      <ul>

      </ul>
    </div>
    <div class="Logo">
      <div class="LogoText">
       <h1><a href="#" style="font-size:28px; color:black;">Multi Net Banking</a></h1></div>
      <p class="Desc"></p>
    </div>
    <div class="Menu">
      <ul>
     <li><a style="color:white;" href="{{url_for('index')}}"><span>Home</span></a></li>
        <li><a style="color:white;"href="{{url_for('login')}}"><span>Login</span></a></li>

      </ul>
    </div>

    <div class="clr"></div>
  </div>
  <div class="CON">

		<h2 class="pagetitle">Upload Hotspot Image.. Step-2<br/><br/></h2>
		<br/><br/><center>
			<form action="{{ url_for('upload_file')}}" method="post" name="form-login" enctype="multipart/form-data">
			<table border="0" cellspacing="0" cellpadding="15" style="margin-left:50px;">

				<tr>
					<td>Upload Image</td>
					<td><input type="file" name="file1"></td>
				</tr>

				<tr>
					<td><input type="text" name="uname" value="{{ uname }}" hidden></td>
					<td><input type="submit" name="submit" value="UPLOAD" class="btn btn-primary"></td>
				</tr>
				<tr>
			</table>
		</form><br/><br/>

          <p align="center">{{ msg }}</p>
		</center>
      <div class="clearer"></div>


  </div>
</div>

</body>
</html>
